body {
    background-color: blueviolet;

}
h4 {
    text-align: center;
    font-size: 1cm;
    text-shadow: rgb(74, 81, 83) 0.2mm 0.4mm;
    color: rgb(0, 0, 0);

}
form {
 
    width: 500px;
    background-color: #03e6e6;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
} 
input {
    margin-bottom: 0.2cm;
    border-radius: 0.25cm;
    border: 0.1cm solid #12dbe2;
    text-align: center;
 
}
